ShipCaddieApp/Service References/ShipCaddieAppXml/ShipcaddieAPI1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://testshipcaddieapi.azurewebsites.net/ShipcaddieAPI.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ShipCaddieAPIInterface" />
  <xs:element name="AddShipment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ShipCaddieAPIInterface" minOccurs="0" name="Request" nillable="true" type="q1:ShipmentModelIntegration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddShipmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ShipCaddieAPIInterface" minOccurs="0" name="AddShipmentResult" nillable="true" type="q2:ShipmentModelIntegration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientContractInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientContractInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ShipCaddieAPIInterface" minOccurs="0" name="GetClientContractInformationResult" nillable="true" type="q3:ArrayOfClientInformationModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountrySystemInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountrySystemInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ShipCaddieAPIInterface" minOccurs="0" name="GetCountrySystemInformationResult" nillable="true" type="q4:ArrayOfSystemCountryModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLabels">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ShipCaddieAPIInterface" minOccurs="0" name="Request" nillable="true" type="q5:ShipmentModelIntegration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLabelsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ShipCaddieAPIInterface" minOccurs="0" name="GetLabelsResult" nillable="true" type="q6:ArrayOfPrintRequestModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ShipCaddieAPIInterface" minOccurs="0" name="Request" nillable="true" type="q7:ShipmentModelIntegration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ShipCaddieAPIInterface" minOccurs="0" name="GetRateResult" nillable="true" type="q8:ShipmentModelIntegration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ShipCaddieAPIInterface" minOccurs="0" name="GetTokenResult" nillable="true" type="q9:TokenModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ShipCaddieAPIInterface" minOccurs="0" name="RefreshTokenResult" nillable="true" type="q10:TokenModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VoidLabel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="labelKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VoidLabelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ShipCaddieAPIInterface" minOccurs="0" name="VoidLabelResult" nillable="true" type="q11:ArrayOfVoidLabelModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>